<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Web Page</title>
        <link rel="stylesheet" href="../static/css/style_register.css" type="text/css" />
        <script type="text/javascript" src="../static/js/appregister.js"></script>
    </head>
    <body>
        <h1>Register Users</h1>
        <form>
            <label>Identification</label>
            <input type="number"/>
            <br /><br /> 
            <label>Name</label>
            <input type="text" />
            <br /><br /> 
            <label>Last Name</label>
            <input type="Text"/>
            <br /><br /> 
            <label>birthday</label>
            <input type="date"/>
            <br /><br /> 
            <button onclick="registeruser()">Register</button>
        </form>
    </body>
</html>